<h1>Pagina de carritos</h1>

<hr>

<div>
  
    {{#each cartProducts}}
    <ul>
    <div>
Producto: {{this.title}} <br>
Cantidad de producto en carrito: {{this.quantity}}<br></br>
      <li>ID Producto: {{this.id}}</li>
      <li>Descripción del producto: {{this.description}}</li>
      <li>Categoría del producto: {{this.category}}</li>
      <li>Precio del producto: {{this.price}}</li>
    </div>
    </ul>
    <hr>
    {{/each}}
</div>

{{#if cartProducts}}
<button onclick="location.href='/carts/{{cartId}}/purchase'" type="button">Continuar con mi Compra</button>
{{else}}
<h2>No hay productos en el carrito</h2>
{{/if}}

<button onclick="location.href='/profile'" type="button">Volver a mi perfil</button>
