<h1>Perfil</h1>

<p>Bienvenido {{first_name}}</p>
<div id="role"></div>
<button onclick="location.href='/carts/{{this.cart}}'" type="button">Ir a mi carrito</button>
<button onclick="location.href='/userTickets'" type="button">Ir a mis compras</button>
<br>
<hr>
<div>
<h2>Mis datos</h2>
Nombre: {{first_name}}
<br></br>
Apellido: {{last_name}}
<br></br>
Correo electronico: {{email}}
<br></br>
</div>

<a href="/api/sessions/logout">Cerrar sesión</a>


