<h1>¡Estas a un paso de terminar tu compra!</h1>

<hr>
<h2>Resumen de los productos</h2>
<div>
    {{#each products.productsAproved}}
    <div>
        Producto: {{this.product}} <br>
        Cantidad de producto en carrito: {{this.quantity}}<br>
        Total a pagar por estos productos: {{this.pricexquantity}}<br></br>

    </div>
    {{/each}}
    <hr>
        Total a pagar: ${{amount}}.<br><br>

</div>
{{#if productsRejected.productsRejected}}
<h2>No pudimos procesar estos productos</h2><br>

<div>
    {{#each productsRejected.productsRejected}}
    <div>
        - Producto: {{this.product}} <br>

    </div>
    {{/each}}
<h3>Los productos que no se pueden procesar no se cobraran y quedarán en el carrito</h3>
</div>
{{/if}}

{{#if products.productsAproved}}
<button id="checkout" type="button">Finalizar compra</button>
{{/if}}
<button onclick="location.href='/products?page=1'" type="button">Quiero ver otro producto</button>


<script src="/js/payments.js"></script>